@namespace BlazorComponents
@typeparam TModel where TModel : class

<li class="drag-and-droppable @_dragClass @AdditionalClass" draggable="true" title="@_text" @ondragstart="@OnDragStart" @ondragend="OnDragEnd">
	<small class="text-center">@_text</small>
</li>