<Drawer>
    <div class="drawer-nav">
        <div class="nav-header">
            <ul>
	            <NavigationItem Id="nav-item-1" Icon="home" IconTitle=" " Destination="/" LinkText="Home" HasChildren="false"/>
                <NavigationItem Id="nav-item-2" Icon="explore" LinkText="Examples" HasChildren="true">
	                <NavigationItem Icon="grid_on" IconTitle="Data Table"  Destination="/DataTableDemo" LinkText="Data Table"/>
	                <NavigationItem Icon="grid_on" IconTitle="Data Table Dynamic" Destination="/DataTableDynamicDemo" LinkText="Data Table Dynamic"/>
	                <NavigationItem Icon="filter_frames" IconTitle="Dialog Base" Destination="/Dialogs/Base" LinkText="Dialog Base"/>
	                <NavigationItem Icon="filter_frames" IconTitle="Dialog Yes No" Destination="/Dialogs/YesNo" LinkText="Dialog Yes No"/>
	                <NavigationItem Icon="loop" IconTitle="Loading Spinners" Destination="/LoadingSpinners" LinkText="Loading Spinners"/>
	                <NavigationItem Icon="sms" IconTitle="Tooltips" Destination="/Tooltips" LinkText="Tooltips"/>
	                <NavigationItem Icon="style" IconTitle="Form Components" Destination="/FormComponents" LinkText="Form Components"/>
	                <NavigationItem Icon="add" IconTitle="Expansion Panels" Destination="/ExpansionPanels" LinkText="Expansion Panels"/>
	                <NavigationItem Icon="breakfast_dining" IconTitle="Toasts" Destination="/Testing" LinkText="Toasts"/>
	                <NavigationItem Icon="tab" IconTitle="Tabs" Destination="/Tabbing" LinkText="Tabs"/>
	                <NavigationItem Icon="highlight" IconTitle="Wizard" Destination="/Wizard" LinkText="Step Wizard"/>
	                <NavigationItem Icon="dynamic_form" IconTitle="Predictive Input" Destination="/PredictiveInput" LinkText="Predictive Input"/>
	                <NavigationItem Icon="contact_support" IconTitle="Conditional Wrapper" Destination="/ConditionalWrapperDemo" LinkText="Conditional Wrapper"/>
                </NavigationItem>
            </ul>
        </div>
    </div>
</Drawer>