.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: var(--black);
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link, .alert a {
    font-family: 'Lato-Bold';
}

.alert > p, .alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: var(--lightGreen) !important;
    border-left: 5px solid var(--green) !important;
}

.alert-success hr {
    border-top-color: var(--green);
}

.alert-info {
    background-color: var(--lightBlue) !important;
    border-left: 5px solid var(--blue) !important;
}

.alert-info hr {
    border-top-color: var(--blue);
}

.alert-warning {
    background-color: var(--lightYellow) !important;
    border-left: 5px solid var(--yellow) !important;
}

.alert-warning hr {
    border-top-color: var(--yellow);
}

.alert-danger {
    background-color: var(--lightRed) !important;
    border-left: 5px solid var(--red) !important;
}

.alert-danger hr {
    border-top-color: var(--red);
}

.info-highlight {
    background-color: var(--lightBlue) !important;
    border: 1px solid var(--darkBlue) !important;
    color: var(--black) !important;
    border-radius: 1rem !important;
}

.danger-highlight {
    background-color: var(--white) !important;
    border: 1px solid var(--darkRed) !important;
    color: var(--red) !important;
    border-radius: 1rem !important;
}

.success-highlight {
    background-color: var(--darkGreen) !important;
    border: 1px solid var(--lightGreen) !important;
    color: var(--white) !important;
    border-radius: 1rem !important;
}