.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: var(--black);
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link, .alert a {
    font-family: 'Lato-Bold';
}

.alert > p, .alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-green {
    background-color: var(--lightGreen) !important;
    border-left: 5px solid var(--green) !important;
}

.alert-green hr {
    border-top-color: var(--green);
}

.alert-lightblue {
    background-color: var(--lightBlue) !important;
    border-left: 5px solid var(--blue) !important;
}

.alert-lightblue hr {
    border-top-color: var(--blue);
}

.alert-yellow {
    background-color: var(--yellow) !important;
    border-left: 5px solid var(--darkYellow) !important;
}

.alert-yellow hr {
    border-top-color: var(--darkYellow);
}

.alert-red {
    background-color: var(--lightRed) !important;
    border-left: 5px solid var(--red) !important;
}

.alert-red hr {
    border-top-color: var(--red);
}

.blue-highlight {
    background-color: var(--lightBlue) !important;
    border: 1px solid var(--blue) !important;
    color: var(--black) !important;
    border-radius: 1rem !important;
}

.red-highlight {
    background-color: var(--white) !important;
    border: 1px solid var(--red) !important;
    color: var(--red) !important;
    border-radius: 1rem !important;
}

.green-highlight {
    background-color: var(--green) !important;
    border: 1px solid var(--white) !important;
    color: var(--white) !important;
    border-radius: 1rem !important;
}