.badge {
    display: inline-block;
    padding: 0.2em 1em;
    font-size: 75%;
    font-family: 'Lato-Bold', sans-serif;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .badge {
        transition: none;
    }
}

a.badge:hover, a.badge:focus {
    text-decoration: none;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-blue {
    color: var(--white);
    background-color: var(--blue);
}

a.badge-blue:hover, a.badge-blue:focus {
    color: var(--white);
    background-color: var(--darkBlue);
}

.badge-yellow {
    color: var(--black);
    background-color: var(--yellow);
}

a.badge-yellow:hover, a.badge-yellow:focus {
    color: var(--black);
    background-color: var(--darkYellow);
}

.badge-green {
    color: var(--white);
    background-color: var(--green);
}

a.badge-green:hover, a.badge-green:focus {
    color: var(--black);
    background-color: var(--lightGreen);
}

.badge-lightblue {
    color: var(--black);
    background-color: var(--lightBlue);
    border: 1px solid var(--blue);
}

a.badge-lightblue:hover, a.badge-lightblue:focus {
    background-color: var(--lightBlue);
}

.badge-red {
    color: var(--red);
    background-color: var(--white);
    border: 1px solid var(--red);
}

a.badge-red:hover, a.badge-red:focus {
    background-color: var(--greyLightest);
}