.badge {
    display: inline-block;
    padding: 0.2em 1em;
    font-size: 75%;
    font-family: 'Lato-Bold', sans-serif;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .badge {
        transition: none;
    }
}

a.badge:hover, a.badge:focus {
    text-decoration: none;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: var(--white);
    background-color: var(--blue);
}

a.badge-primary:hover, a.badge-primary:focus {
    color: var(--white);
    background-color: var(--darkBlue);
}

.badge-secondary {
    color: var(--black);
    background-color: var(--yellow);
}

a.badge-secondary:hover, a.badge-secondary:focus {
    color: var(--black);
    background-color: var(--darkYellow);
}

.badge-success {
    color: var(--white);
    background-color: var(--green);
}

a.badge-success:hover, a.badge-success:focus {
    color: var(--white);
    background-color: var(--darkGreen);
}

.badge-info {
    color: var(--black);
    background-color: var(--lightBlue);
}

a.badge-info:hover, a.badge-info:focus {
    background-color: var(--blue);
}

.badge-danger {
    color: var(--red);
    background-color: var(--white);
    border: 1px solid var(--red);
}

a.badge-danger:hover, a.badge-danger:focus {
    background-color: var(--greyLightest);
}