.banner-wrapper {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	align-content: flex-end;
	flex-wrap: wrap;
	z-index: 999;
	width: -webkit-fill-available;
	pointer-events: none;

	.banner-row {
		padding-bottom: 1.5rem;
		text-align: center;
		vertical-align: middle;
		z-index: 999;
		height: fit-content;
		opacity: 1;
		margin-bottom: 2rem;
		transition: opacity 500ms;
		flex: 0 1 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;

		&.banner-hide {
			animation-name: hide-banner;
			animation-duration: 1000ms;
			animation-fill-mode: forwards;
		}

		&:not(.banner-hide) {
			&.translucent {
				visibility: hidden;
				opacity: 0;
				height: 0;
				margin-top: calc(var(--rem-8) * -1);
				padding-bottom: 0;
			}
		}

		.banner {
			position: absolute;
			width: 60vw;
			padding: 1rem;
			pointer-events: all;

			&.translucent {
				opacity: 0;
				z-index: -100 !important;
			}

			&.Blue {
				background-color: var(--lightBlue);
				color: var(--black);
				border: 2px solid var(--darkBlue);
			}

			&.Green {
				background-color: var(--green);
				color: var(--white);
				border: 2px solid var(--darkGreen);
			}

			&.Yellow {
				background-color: var(--yellow);
				color: var(--black);
				border: 2px solid var(--darkYellow);
			}

			&.Red {
				background-color: var(--lightRed);
				color: var(--black);
				border: 2px solid var(--red);
			}

			&.None {
				background-color: var(--white);
				color: var(--black);
				border: 2px solid var(--black);
			}

			.banner-content {
				flex: 0 0 75%;
			}

			@media screen and (max-width: 768px) {
				.banner-content {
					flex: 0 0 60%;
				}
			}
		}

		.banner-hide {
			animation-name: hide-banner;
			animation-duration: 1000ms;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes hide-banner {
	0% {
		opacity: 1;
	}

	100% {
		visibility: hidden;
		opacity: 0;
		height: 0;
		margin-top: -2rem;
		padding-bottom: 0;
	}
}