$primary-red: #ae2012;
$dark-red: #9b2226;
$light-red: #f28482;

$primary-green: #52b788;
$dark-green: #2d6a4f;
$light-green: #b7e4c7;

$dark-blue: #001d3d;
$blue: #003566;
$light-blue: #94d2bd;

$dark-yellow: #ffc300;
$yellow: #ffd60a;
$light-yellow: #fcf6bd;

$black: #000814;
$white: #FFFFFF;
$grey-darkest: #383838;
$grey-dark: #717171;
$grey: #B3B3B3;
$grey-light: #D4D4D4;
$grey-lightest: #F6F6F6;