.input-dropdown {
	border: none;
	position: relative !important;
	max-width: 100%;

	div:empty:after {
		content: attr(data-placeholder);
		color: var(--greyDark);
	}

	&.active {
		.input-dropdown-text {
			border: 2px solid #{'rgba(var(--greyDarkRgb), 0.5)'};
		}

		.input-dropdown-content {
			display: block !important;
		}

		border-color: var(--greyDark);
		outline: 0;
	}

	.input-dropdown-text {
		display: block;
		white-space: nowrap;
		min-height: 1.2em;
		padding: .75rem 0rem .75rem 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.input-dropdown-content {
		z-index: 1000;
		position: absolute;
		background-color: var(--white);
		width: 100%;
		display: none;
		background-clip: padding-box;
		border: 2px solid #{'rgba(var(--greyLightRgb),.5)'};
		border-radius: .1rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		max-height: 15rem;
		overflow-x: hidden;

		.input-dropdown-item {
			min-height: 2em;
			padding: .2rem 1rem;

			&:hover {
				background-color: var(--greyLightest);
			}
		}
	}
}
