.toaster {
	position: fixed;
	right: 3rem;
	z-index: 100000 !important;
}

.toast {
	-ms-flex-preferred-size: 350px;
	flex-basis: 350px;
	max-width: 350px;
	min-width: 200px;
	font-size: 0.875rem;
	background-color: #{'rgba(var(--whiteRgb), 0.85)'};
	background-clip: padding-box;
	border: 1px solid #{'rgba(var(--blackRgb), 0.1)'};
	box-shadow: 0 0.25rem 0.75rem #{'rgba(var(--blackRgb), 0.1)'};
	opacity: 0;
	border-radius: 0.25rem;
	position: relative;
}

.toast:not(:last-child) {
	margin-bottom: 0.75rem;
}

.toast.showing {
	opacity: 1;
}

.toast.show {
	display: block;
	opacity: 1;
}

.toast.hide {
	display: none;
}

.toast-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.25rem 0.75rem;
	color: var(--greyDark);
	background-color: #{'rgba(var(--whiteRgb), 0.85)'};
	background-clip: padding-box;
	border-bottom: 1px solid #{'rgba(var(--blackRgb), 0.05)'};
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

.toast-body {
	padding: 0.75rem;
}

