.loading-wrapper {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    height: 100%;
    align-items: center;
    display: flex;
    width: 100%;
}

.loading-spinner {
    margin: auto;
    position: relative;

    spinner {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 3px solid var(--greyLight);
        border-top-color: var(--blue);
        animation: spinner .6s linear infinite;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}