.tooltip-wrapper {
	position: relative;
	display: inline-block;
	font-size: 1rem;

	.tooltip-text {
		visibility: hidden;
		position: absolute;
		background-color: var(--black);
		color: var(--white);
		text-align: center;
		border-radius: 6px;
		padding: 5px;
		width: max-content;
		z-index: 1000;
		font-weight: normal;
		font-style: normal;
		font-family: 'Lato-Regular', sans-serif;
		text-transform: none;
		font-size: 80%;

		&.tooltip-up {
			left: 50%;
			bottom: 150%;
			transform: translate(-50%, 0%);
			max-width: 120px;

			&::after {
				content: " ";
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: var(--black) transparent transparent transparent;
			}
		}

		&.tooltip-down {
			max-width: 120px;
			left: 50%;
			top: 150%;
			transform: translate(-50%, 0%);

			&::after {
				content: " ";
				position: absolute;
				bottom: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent var(--black) transparent;
			}
		}

		&.tooltip-left {
			right: 150%;
			top: 50%;
			transform: translate(0%,-50%);

			&::after {
				content: " ";
				position: absolute;
				top: 50%;
				left: 100%;
				margin-top: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent transparent var(--black);
			}
		}

		&.tooltip-right {
			left: 150%;
			top: 50%;
			transform: translate(0%,-50%);

			&::after {
				content: " ";
				position: absolute;
				top: 50%;
				right: 100%;
				margin-top: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent var(--black) transparent transparent;
			}
		}
	}

	&:hover .tooltip-text {
		visibility: visible;
	}
}
