@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Disable text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    vertical-align: bottom;

    &.large-icon {
        font-size: 36px !important;
    }
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    src: local("Lato-Regular"), url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Italic';
    font-style: normal;
    font-weight: 400;
    src: local("Lato-Italic"), url(../fonts/Lato-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 700;
    src: local("Lato-Bold"), url(../fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-BoldItalic';
    font-style: normal;
    font-weight: 700;
    src: local("Lato-BoldItalic"), url(../fonts/Lato-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Prata-Regular';
    font-style: normal;
    font-weight: 500;
    src: local("Prata-Regular"), url(../fonts/Prata-Regular.ttf) format('truetype');
}