small,
.small {
    font-size: 80%;
    font-weight: 400;
}

mark,
.mark {
    padding: 0.2em;
    background-color: var(--darkYellow);
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-inline-none {
    padding-inline-start: 0 !important
}

.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

.blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: var(--greyDark);
}

.blockquote-footer::before {
    content: "\2014\00A0";
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: var(--white);
    border: 1px solid var(--greyLightest);
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.figure {
    display: inline-block;
}

.figure-img {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.figure-caption {
    font-size: 90%;
    color: var(--greyDark);
}

code {
    font-size: 87.5%;
    color: var(--lightRed);
    word-wrap: break-word;
}

a > code {
    color: inherit;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 87.5%;
    color: var(--white);
    background-color: var(--black);
    border-radius: 0.2rem;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-family: 'Lato-Bold';
}

pre {
    display: block;
    font-size: 87.5%;
    color: var(--black);
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-clip {
    overflow-x: clip;
}

.fade {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition: none;
    }
}

.close {
    float: right;
    font-size: 1.5rem;
    font-family: 'Lato-Bold';
    line-height: 1;
    color: var(--black);
    text-shadow: 0 1px 0 var(--white);
    opacity: .5;
}

.close:hover {
    color: var(--black);
    text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

.bg-grey {
    background-color: var(--greyLight) !important;
}

.bg-grey-lightest {
    background-color: var(--greyLightest) !important;
}

.bg-red {
    background-color: var(--red) !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-blue-hover:hover {
    background-color: var(--lightBlue) !important
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.user-select-all {
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    user-select: all !important;
}

.user-select-auto {
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

.user-select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem #{'rgba(var(--blackRgb), 0.075)'} !important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem #{'rgba(var(--blackRgb), 0.15)'} !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem #{'rgba(var(--blackRgb), 0.175)'} !important;
}

.shadow-none {
    box-shadow: none !important;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    font-size: 12px;

    &::before {
        content: '';
        background: var(--greyLight);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &::after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 .5em;
        line-height: 1.5em;
        background-color: var(--white);
    }
}

.flex-line {
    display: flex;
    flex-grow: 1;
    height: 3px;
    align-self: center;
    margin-left: 20px;
    background-color: var(--greyLightest);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: #{'rgba(var(--blackRgb), 0)'};
}

.red-fill {
    fill: var(--red);
}

.green-fill {
    fill: var(--green);
}

.yellow-fill {
    fill: var(--yellow);
}

.blue-fill {
    fill: var(--lightBlue);
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #adb5bd;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    @page {
        size: a3;
    }

    body {
        min-width: 992px !important;
    }

    .container {
        min-width: 992px !important;
    }

    .navbar {
        display: none;
    }

    .badge {
        border: 1px solid var(--black);
    }

    .table {
        border-collapse: collapse !important;
    }

    .table td,
    .table th {
        background-color: var(--white) !important;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid var(--greyLight) !important;
    }

    .table-dark {
        color: inherit;
    }

    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: var(--greyLight);
    }

    .table .thead-dark th {
        color: inherit;
        border-color: var(--greyLight);
    }
}

.c-pointer {
    cursor: pointer;
}

.numberCircle {
    border-radius: 50%;
    width: 40px;
    height: 30px;
    padding: 8px;
    background: green;
    border: 2px solid green;
    color: white;
    text-align: center;
    vertical-align: central;
    font: 24px Arial 700, sans-serif 700;
}

.g-search-icon {
    border: 2px solid #{'rgba(var(--greyLightRgb),.5)'};
    border-radius: .1rem;
    border-left: 0;
    padding: .375rem .75rem;
    cursor: pointer;
}