@namespace BlazorComponents
@inherits BaseTooltip

<span @onmouseover="() => ToggleVisibility(true)" @onmouseleave="() => ToggleVisibility(false)">
	<div id="@Id" class="tooltip-wrapper @Direction.ToString() @(Show ? "" : "fade")" role="tooltip" @onclick:stopPropagation style="pointer-events: none;">
		<div class="tooltip">
			@TooltipText
		</div>
	</div>

	<span @ref="Origin">
		@ChildContent
	</span>
</span>