@namespace BlazorComponents

<div @attributes="@UnknownParameters" id="@Id" class="popover show" role="tooltip" @onclick:stopPropagation>
	<div class="arrow" data-popper-arrow></div>
	@ChildContent
	<div class="popover-footer"></div>
</div>