@namespace BlazorComponents

<div @attributes="@UnknownParameters" id="@Id" class="popover-wrapper show" role="tooltip" @onclick:stopPropagation>
	<div class="arrow" data-popper-arrow></div>
	@if (HasRendered)
	{
		<div class="popover">
			@ChildContent
			<div class="popover-footer"></div>
		</div>
	}
</div>