@page "/LoadingSpinners"

<h3>Loading Spinners</h3>

<div class="spinner-collection">
	<LoadingSpinner></LoadingSpinner>
	<LoadingSpinner Colour="#e91e63"></LoadingSpinner>
	<LoadingSpinner Colour="#9c27b0" Height="1" Width="1"></LoadingSpinner>
	<LoadingSpinner Colour="#673ab7" Height="5" Width="5"></LoadingSpinner>
	<LoadingSpinner Colour="#3f51b5"></LoadingSpinner>
	<LoadingSpinner Colour="#03a9f4" Height="9" Width="9"></LoadingSpinner>
	<LoadingSpinner Colour="#00bcd4"></LoadingSpinner>
	<LoadingSpinner Colour="#009688" Height="2" Width="2"></LoadingSpinner>
	<LoadingSpinner Colour="#259b24"></LoadingSpinner>
	<LoadingSpinner Colour="#8bc34a"></LoadingSpinner>
	<LoadingSpinner Colour="#ffeb3b"></LoadingSpinner>
	<LoadingSpinner Colour="#ffc107"></LoadingSpinner>
	<LoadingSpinner Colour="#ff9800"></LoadingSpinner>
	<LoadingSpinner Colour="#ff5722"></LoadingSpinner>
	<LoadingSpinner Colour="#795548"></LoadingSpinner>
	<LoadingSpinner Colour="#9e9e9e"></LoadingSpinner>
	<LoadingSpinner Colour="#607d8b"></LoadingSpinner>
	<LoadingSpinner Colour="#000000"></LoadingSpinner>
</div>