@page "/tabbing"

<h3>Tabbing</h3>

<hr />

<TabControl>
    <TabPage TabTitle="First Tab" >
        <p>Wow this is some text for the first tab</p>
    </TabPage>
    <TabPage TabTitle="These Tabs Names Can Be Really Long"  TabBadge="88">
        <p>Wow this is some text for the second tab</p>
    </TabPage>
    <TabPage TabTitle="1234567 855" TabBadge="5">
        <p>Wow this is some text for the third tab</p>
    </TabPage>
</TabControl>

<TabControl>
    <TabPage TabTitle="First Tab" >
        <p>Wow this is some text for the first tab</p>
    </TabPage>
    <TabPage TabTitle="These Tabs Names Can Be Really Long" >
        <p>Wow this is some text for the second tab</p>
    </TabPage>
    <TabPage TabTitle="1234567 855">
        <p>Wow this is some text for the third tab</p>
    </TabPage>
</TabControl>

<TabControl>
    <TabPage TabTitle="First Tab">
        <p>Wow this is some text for the first tab</p>
    </TabPage>
    <TabPage TabTitle="These Tabs Names Can Be Really Long" TabBadge="88">
        <p>Wow this is some text for the second tab</p>
    </TabPage>
    <TabPage TabTitle="1234567 855">
        <p>Wow this is some text for the third tab</p>
    </TabPage>
</TabControl>