@page "/tooltips"

<h3>Tooltips</h3>

<hr />

<Tooltip TooltipText="With a left arrow" Direction="@TooltipDirection.Right">
    This tool tip is to the right
</Tooltip>
<hr />
<Tooltip TooltipText="With a right arrow" Direction="@TooltipDirection.Left">
    This tool tip is to the left
</Tooltip>
<hr />
<Tooltip TooltipText="With a bottom arrow" Direction="@TooltipDirection.Up">
    This tool tip is to the Top
</Tooltip>
<hr />
<Tooltip TooltipText="With a top arrow" Direction="@TooltipDirection.Down">
    This tool tip is to the bottom
</Tooltip>
<hr />
