@page "/Wizard"

<Wizard HideFinalStep="true">
	<Card>
		<CardHeader>
			<div class="row">
				<div class="col-4">
					<b>Here is the wizard header.</b>
				</div>
				<div class="col-4">
					<WizardNav />
				</div>
				<div class="col-4">
					<div class="custom-control custom-switch text-right">
						<input type="checkbox" class="custom-control-input" id="3433" />
						<label class="custom-control-label" for="3433"> Edit</label>
					</div>
				</div>

			</div>
		</CardHeader>
		<CardBody>
			<LoadingWrapper Condition="() => IsLoading == false">
				<WizardStep NavIconColour="Colour.Green" class="btn btn-sm btn-yellow">
					<BackwardsButtonContent>
						Go backwards
					</BackwardsButtonContent>
					<StepContent>
						<div class="row">
							<div class="col-sm-12">
								<p>This is the first step. You can enter something useful in here.</p>
							</div>
						</div>
					</StepContent>
					<ForwardsButtonContent>
						Go forward
					</ForwardsButtonContent>
				</WizardStep>
				<WizardStep NavIconColour="Colour.Blue" class="btn btn-yellow">
					<BackwardsButtonContent>
						Go backwards
					</BackwardsButtonContent>
					<StepContent>
						<div class="row">
							<div class="col-sm-12">
								<p>Wow, you've reached the second step!</p>
							</div>
						</div>
					</StepContent>
					<ForwardsButtonContent>
						Go forward
					</ForwardsButtonContent>
				</WizardStep>
				<WizardStep>
					<BackwardsButtonContent>
						Go backwards
					</BackwardsButtonContent>
					<StepContent>
						<div class="row">
							<div class="col-sm-12">
								<p>This is the final step. The button here should be different for submitting.</p>
							</div>
						</div>
					</StepContent>
					<ForwardsButtonContent>
						Go forward
					</ForwardsButtonContent>
				</WizardStep>
			</LoadingWrapper>
			<WizardNav />
		</CardBody>
	</Card>
</Wizard>

@code
{
    [CascadingParameter] public ToasterManager ToasterManager { get; set; }
    public bool IsLoading { get; set; }

    protected async Task TriggerToast()
    {
        IsLoading = true;
        await Task.Delay(1000);
        ToasterManager.AddToast("Nice!", "You triggered the final callback", NotificationType.Green, DateTime.Now);
        IsLoading = false;
    }
}
