@page "/Wizard"

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <LoadingWrapper Condition="() => IsLoading == false">
                <Wizard ShowNavAtTop="true">
                    <WizardStep ShowIcons="true">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>This is the first step. You can enter something useful in here.</p>
                            </div>
                        </div>
                    </WizardStep>
                    <WizardStep ShowIcons="true" BackwardsButtonText="Go back pls">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Wow, you've reached the second step!</p>
                            </div>
                        </div>
                    </WizardStep>
                    <WizardStep ForwardButtonText="Submit Form" ShowIcons="true" OnFinalActionCallback="TriggerToast">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>This is the final step. The button here should be different for submitting.</p>
                            </div>
                        </div>
                    </WizardStep>
                </Wizard>
            </LoadingWrapper>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter] public ToasterManager ToasterManager { get; set; }
    public bool IsLoading { get; set; }

    protected async Task TriggerToast()
    {
        IsLoading = true;
        await Task.Delay(1000);
        ToasterManager.AddToast("Nice!", "You triggered the final callback", NotificationType.Success, DateTime.Now);
        IsLoading = false;
    }
}
