@page "/Dialogs/Base"

@using BlazorComponents

<h4>Dialog Demo</h4>

<div>
	<button class="btn btn-success" @onclick="()=>ShowingDialog=true">Show Dialog</button>
	<button class="btn btn-secondary" @onclick="()=>ShowingDraggableDialog=true">Show Draggable Dialog</button>
</div>

<Dialog ShowDialog="ShowingDialog" DialogTitle="Test Title">
    <div class="dialogBody">
        <h3>This is a Dialog</h3>
        <div>
            This is a block of input
        </div>
    </div>
	<div class="dialogButtons">
		<button class="btn btn-primary" @onclick="() => ShowingDialog = false">Primary</button>
		<button class="btn btn-secondary" @onclick="() => ShowingDialog = false">Secondary</button>
		<button class="btn btn-danger" @onclick="() => ShowingDialog = false">Danger</button>
	</div>
</Dialog>

<Dialog ShowDialog="ShowingDraggableDialog" DialogTitle="Test Title" IsDraggable="true">
    <div class="dialogBody">
        <h3>This is a Draggable Dialog</h3>
        <div>
            This is a block of input
        </div>
    </div>
	<div class="dialogButtons">
		<button class="btn btn-primary" @onclick="() => ShowingDraggableDialog = false">Primary</button>
		<button class="btn btn-secondary" @onclick="() => ShowingDraggableDialog = false">Secondary</button>
		<button class="btn btn-danger" @onclick="() => ShowingDraggableDialog = false">Danger</button>
	</div>
</Dialog>


@code {
    public bool ShowingDialog { get; set; }
    public bool ShowingDraggableDialog { get; set; }
}